
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/green-chameleon-s9CC2SKySJM-unsplash.jpg");
    background-position: center;
    background-size: cover;
}


.auth__area {
    border-radius: 5px;
    width: 450px;
    height: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 20px;
}

.form {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    gap: 10%;
}

.input,
.select {
    height: 35px;
    padding-left: 20px;
    font-size: medium;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
}

.login {
    height: 45px;
    border: none;
    background-color: rgb(63, 168, 238);
    border-radius: 10px;
    font-size: larger;
    color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
        cursor: pointer;
}

.error {
    border: 1px solid red;
    font-size: small;
    font-weight: bold;
    border-radius: 5px;
    color: red;
    margin: -10px 40px 20px 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 188, 188);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
}

.placeholder {
    color: gray;
}