.nav__bar {
    background-color: rgb(63, 168, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
}

.span {
    font-size: 35px;
    padding: 2px;
    cursor: pointer;
}

.logout {
    margin-right: 30px;
    padding: 10px 20px;
    background-color: white;
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
}